 <form action='/signup' method='post'>
  <div>
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for='email'><b>Email</b></label>
    <input type='text' placeholder='Enter Email' name='email' required>

    <label for='psw'><b>Password</b></label>
    <input type='password' placeholder='Enter Password' name='password_hash' required>

    <p>By creating an account you agree to our <a href='#'>Terms & Privacy</a>.</p>
    <button type='submit'>Register</button>
  </div>

  <div>
    <p>Already have an account? <a href='#'>Sign in</a>.</p>
  </div>
</form> 