<head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <title>T10 SSR TEMPLATE!</title>

    <link rel='stylesheet' href='styles.css' />
</head>